.Clistback{
    background-color: darksalmon;
}

.top{
    font-family: cursive;
    font-size: larger;
    font-weight: 900;
}
.redd{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons{
font-family: cursive;
font-size: medium;
}
